<!DOCTYPE html>
<html>
<head>
    <title>GrASPEE</title>
    <!--Web fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Righteous&display=swap" rel="stylesheet"> 
    <!--css-->
    <!--TODO change css file name-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css')}}">
</head>
<body>
    <h1>Grading - View 1</h1>
    
    <!-- TODO: Header part goes here-->

    <div class="page-container">
        <div class="page-item" id="student-list">
            LIST
        </div>

        <div class="page-item" id="task-title">
            <h2>Assignment {{data.assignment_nbr}} - {{data.student_name}}</h2>
        </div>

        <div class="page-item" id="buttons-row">
            <button class="btn" 
                    id="check1"
                    onclick="spell_check()">Spelling check</button>
            <button class="btn"
                    onclick="grammar_check()">Grammar check</button>
            <button class="btn">Other check</button>
        </div>

        <div class="page-item" id="buffer1"></div>
            
        <div class="page-item" id="assignment-text-body">
            {{data.original_text}}
        </div>

        <div class="page-item" id="buffer2"> <p id="spelling-mistakes"></p></div>
            <form method="POST">
                <div class="page-item" id="feedback-section">
                    <textarea 
                    type="text" id="feedback-section" name="feedback-text" 
                    placeholder="Write your feedback here..." 
                    autocomplete="off"></textarea>
                </div>

                <div class="page-item" id="grade-section">
                        <label for="sub-grade-1">Content:</label>
                        <input type="text" id="sub-grade" name="sub-grade-1"><br>
                        <label for="sub-grade-2">Organization:</label>
                        <input type="text" id="sub-grade" name="sub-grade-2"><br>
                        <label for="sub-grade-3">Language:</label>
                        <input type="text" id="sub-grade" name="sub-grade-3"><br>
                        <label for="sub-grade-4">Task achievement:</label>
                        <input type="text" id="sub-grade" name="sub-grade-4"><br>
                        <p style="font-weight:bold; font-size: 25px;">Final grade:{{final_grade}}</p>
                        <input type="submit" value="Submit" id="submit-grade">
                </div>

            </form>
        </div>

</body>
<script>
  function spell_check() {  
    var str2 = "{{ data.original_text }}"
    var str1 = "{{ data.spell_correct_text }}"

    function words(s) {
      console.log('this is words()')
      return s.match(/\w+|\w+[.,;:"!?'\-]|[.,;:"!?'\-]/g);
    }
  
    let a = words(str1);
    let b = words(str2);
    let res1 = b.filter(i => !a.includes(i));
    let res2 = a.filter(i => !b.includes(i));

    highlight(b, "str2", res1);
  
    function highlight(str, id, res){
      var text = "";
      var mistakes_count = 0;
    for(var i=0; i<str.length; i++){
      var hasVal = res.includes(str[i]);
      if(hasVal){
        text +=" <span class='imp'>"+str[i]+"</span> ";
        mistakes_count += 1;
      } else {
        text +=" "+str[i]+" ";
      }
    }
      const div_text = document.getElementById('assignment-text-body')
      div_text.innerHTML = text;
      const div_mistakes = document.getElementById('spelling-mistakes')
      //div_mistakes.innerHTML = "Total number of spelling mistakes: " + mistakes_count;
      div_mistakes.innerHTML = "Percentage of misspelled words: " + (mistakes_count/b.length*100).toFixed(2) + "%.";
    }
  }
</script>
<script>
  function grammar_check(){
    var dictionary = JSON.parse('{{data.grammar_check_results | tojson}}');
    console.log(dictionary)
    var text = "";
    for (var sentence in dictionary){
      if (dictionary[sentence] == 0){ //grammarly incorrect
        text += " <span class='imp'>"+sentence+"</span> ";
      } else { //grammarly correct
        text += " "+sentence+" ";
      }
    }
    const div = document.getElementById('assignment-text-body')
    div.innerHTML = text;
  }
</script>
<style>
  .imp{
    color: red
  }
</style>
</html>