<!DOCTYPE html>
<html>
<head>
    <title>GrASPEE</title>
    <!--Web fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Righteous&display=swap" rel="stylesheet"> 
    <!--icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--css-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/grading_comparison.css')}}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
    <h1>Grading</h1>
    
    <!-- TODO: Header part goes here-->

    <div class="page-container">
        <div class="page-item" id="student-list-icon">
          <i class="fa fa-bars" style="font-size:35px; margin-left: 10px; color:black; text-shadow:2px 2px 4px grey;" ></i>
        </div>

        <div class="page-item" id="student-list">
          <ul id="list">
            <li id="Faith-Hayes" onclick="getText('Faith-Hayes')">Faith Hayes</li>
            <li id="Hayden-Scott" onclick="getText('Hayden-Scott')">Hayden Scott</li>
            <li id="Iris-Rose" onclick="getText('Iris-Rose')">Iris Rose</li>
            <li id="Tony-Rhodes" onclick="getText('Tony-Rhodes')">Tony Rhodes</li>
          </ul>
        </div>

        <div class="page-item" id="task-title">
            <h2>Assignment 1</h2>
        </div>

        <div class="page-item" id="buttons-row">
            <button class="btn" 
                    id="check1"
                    onclick="spellCheck()">Spelling check</button>
            <button class="btn"
                    onclick="grammarCheck()">Grammar check</button>
            <button class="btn"
                    onclick="argCheck()">Argumentation check</button>
        </div>

        <div class="page-item" id="compare-student-select">
          <select id="student-select" onchange="getComparison()">
            <option value="">--Select a student--</option>
            <option value="Faith-Hayes">Faith Hayes</option>
            <option value="Hayden-Scott">Hayden Scott</option>
            <option value="Iris-Rose">Iris Rose</option>
            <option value="Tony-Rhodes">Tony Rhodes</option>
          </select>

        </div>

        <div class="page-item" id="metrics">
          <div id="metrics-spelling"><span style='font-weight:bold; font-size: 25px;'>Spelling:</span></div>
          <div id="metrics-grammar"><span style='font-weight:bold; font-size: 25px;'>Grammar:</span></div>
          <div id="metrics-argumentation"><span style='font-weight:bold; font-size: 25px;'>Argumentation:</span></div>
        </div>

        <div class="page-item" id="compare-metrics">
          
        </div>

            
        <div class="page-item" id="assignment-text-body">
            
        </div>

        <div class="page-item" id="compare-text-body">

        </div>

        
        <div class="page-item" id="feedback-section">
            <textarea 
            type="text" id="feedback-section" name="feedback-text" 
            placeholder="Write your feedback here..." 
            autocomplete="off"></textarea>
        </div>

      
        <div class="page-item" id="grade-section">
          <form method="POST">
            <div class="horizontal">
              <div style="margin-left: 23px;" id="content">
                <label for="sub-grade-1">Content:</label>
                <input type="text" id="sub-grade" name="sub-grade-1">
              </div>
              <div style="margin-left: 48px;" id="organization"-->
                <label for="sub-grade-2">Organization:</label>
                <input type="text" id="sub-grade" name="sub-grade-2">
              </div>
              <p style="font-weight:bold; font-size: 25px; margin-left: 100px;">Final grade:{{final_grade}}</p>
            </div>

            <div class="horizontal">
              <div id="language">
                <label for="sub-grade-3">Language:</label>
                <input type="text" id="sub-grade" name="sub-grade-3">
              </div>
              <div id="task-achievement">
                <label for="sub-grade-4">Task achievement:</label>
                <input type="text" id="sub-grade" name="sub-grade-4">
              </div>
              <div style="margin-left: 100px;" id="submit-button">
                <input type="submit" value="Submit" id="submit-grade">
              </div>
            </div>
          </form>
        </div>

        <div class="page-item" id="compare-feedback">
          
        </div>

        <div class="page-item" id="compare-grade">
          
        </div>

    </div>

</body>

<script src="{{ url_for('static', filename='js/comparison.js')}}"></script>

<script>
  let spBtnClicked = 1
  function spellCheck() {
    const textElement = document.getElementById("assignment-text-body")
    let textElementHTML = textElement.innerHTML
    const originalText = textElement.innerText
    const wordCount = originalText.match(/(\w+)/g).length;
    $.ajax({
            url: location.origin + "/grading-comparison",
            type: 'POST',
            data: JSON.stringify({
                "original_text": originalText
            }),
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                    var misspelledWords = response.misspelled_words; //array
                    var mistakesCount = misspelledWords.length
                    function hightlightMisspelledWords() {
                        let pattern = '';
                        for (var w in misspelledWords)
                          pattern += misspelledWords[w]+'|';
                        
                        let regexObject = new RegExp(pattern, 'gi');

                        if (mistakesCount > 0){
                          textElement.innerHTML = textElementHTML.replace(regexObject, `<span style="color: red;">$&</span>`); 
                        }else{
                          textElement.innerHTML = textElementHTML;
                        }
                    }

                    if (spBtnClicked == 1) {
                      hightlightMisspelledWords()
                      document.getElementById("metrics-spelling").innerHTML = 
                                    "<span style='font-weight:bold; font-size: 25px;'>Spelling: </span> "+
                                    (mistakesCount/wordCount*100).toFixed(2) + '%.'                           
                      spBtnClicked = 0
                    } else {
                      textElement.innerHTML = originalText 
                      spBtnClicked = 1
                    }
            },
            error: function (response) {
              alert("Error!")
            }
        });
    }
</script>

<script>
  let grBtnClicked = 1
  function grammarCheck(){
    const textElement = document.getElementById("assignment-text-body")
    const originalText = textElement.innerText
    var innerHTMLContent = "";
    $.ajax({
            url: location.origin + "/grading-comparison",
            type: 'POST',
            data: JSON.stringify({
                "original_text": originalText
            }),
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                    var results = response.grammar_check_results; //array
                    function hightlightGrammarlyIncorrectSentences() {
                      var faults = 0;
                      var sentence; var index;
                      for(var i in results) {
                        sentence = results[i][0]
                        index = results[i][1]
                        if(index == 0) {//grammarly incorrect
                          innerHTMLContent = innerHTMLContent + '<u style="text-decoration-color: red;">'+sentence+'</u>. '
                          faults += 1;
                        } else {
                          innerHTMLContent = innerHTMLContent + sentence + '. '
                        }
                      }
                      textElement.innerHTML = innerHTMLContent; 
                    }

                    if (grBtnClicked == 1) {
                      hightlightGrammarlyIncorrectSentences()
                      grBtnClicked = 0
                    } else {
                      textElement.innerHTML = originalText;
                      grBtnClicked = 1
                    }
            },
            error: function (response) {
              alert("Error!")
            }
        });
  }
</script>

<script>
  let argBtnClicked = 1;
  function argCheck(){
    const textElement = document.getElementById("assignment-text-body")
    const originalText = textElement.innerText
    console.log(originalText)
    var innerHTMLContent = "";
    $.ajax({
            url: location.origin + "/grading-comparison",
            type: 'POST',
            data: JSON.stringify({
                "original_text": originalText
            }),
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                    var predictions = response.predictions; //array
                    var pred;
                    function hightlightClaimsAndPremises() {
                        for (var i in predictions){
                          pred = predictions[i]
                          if (pred['label'] == "PREMISE") {
                            innerHTMLContent = innerHTMLContent + '<mark style="background-color: orange;">'+pred['sentence']+'</mark>. '
                          } else if (pred['label'] == 'CLAIM') {
                            innerHTMLContent = innerHTMLContent + '<mark style="background-color: yellow;">'+pred['sentence']+'</mark>. '
                          }
                        }
                      textElement.innerHTML = innerHTMLContent;
                    }

                    if (argBtnClicked == 1) {
                      hightlightClaimsAndPremises()
                      argBtnClicked = 0
                    } else {
                      textElement.innerHTML = originalText;
                      argBtnClicked = 1
                    }
            },
            error: function (response) {
              alert("Error!")
            }
        });
  }
</script>

</html>