<!DOCTYPE html>
<html>
<head>
    <title>GrASPEE</title>
    <!--Web fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Righteous&display=swap" rel="stylesheet"> 
    <!--icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--css-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/grading_comparison.css')}}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
    <h1>Grading</h1>
    
    <!-- TODO: Header part goes here-->

    <div class="page-container">
        <div class="page-item" id="student-list-icon">
          <i class="fa fa-bars" style="font-size:35px; margin-left: 10px; color:black; text-shadow:2px 2px 4px grey;" ></i>
        </div>

        <div class="page-item" id="student-list">
          <ul id="list">
            <li id="Faith-Hayes" onclick="getText('Faith-Hayes')">Faith Hayes</li>
            <li id="Hayden-Scott" onclick="getText('Hayden-Scott')">Hayden Scott</li>
            <li id="Iris-Rose" onclick="getText('Iris-Rose')">Iris Rose</li>
            <li id="Tony-Rhodes" onclick="getText('Tony-Rhodes')">Tony Rhodes</li>
          </ul>
        </div>

        <div class="page-item" id="task-title">
            <h2>Assignment 1</h2>
        </div>

        <div class="page-item" id="buttons-row">
            <button class="btn" 
                    id="check1"
                    onclick="spell_check()">Spelling check</button>
            <button class="btn"
                    onclick="grammar_check()">Grammar check</button>
            <button class="btn"
                    onclick="arg_check()">Argumentation check</button>
        </div>

        <div class="page-item" id="compare-student-select">
          <select id="student-select" onchange="get_comparison()">
            <option value="">--Select a student--</option>
            <option value="Faith-Hayes">Faith Hayes</option>
            <option value="Hayden-Scott">Hayden Scott</option>
            <option value="Iris-Rose">Iris Rose</option>
            <option value="Tony-Rhodes">Tony Rhodes</option>
          </select>

        </div>

        <div class="page-item" id="metrics">
          <span style='font-weight:bold; font-size: 25px;'>Spelling:</span> <br>
          <span style='font-weight:bold; font-size: 25px;'>Grammar:</span><br>
          <span style='font-weight:bold; font-size: 25px;'>Argumentation:</span>
        </div>

        <div class="page-item" id="compare-metrics">
          
        </div>

            
        <div class="page-item" id="assignment-text-body">
            
        </div>

        <div class="page-item" id="compare-text-body">

        </div>

        
        <div class="page-item" id="feedback-section">
            <textarea 
            type="text" id="feedback-section" name="feedback-text" 
            placeholder="Write your feedback here..." 
            autocomplete="off"></textarea>
        </div>

      
        <div class="page-item" id="grade-section">
          <form method="POST">
            <div class="horizontal">
              <div style="margin-left: 23px;" id="content">
                <label for="sub-grade-1">Content:</label>
                <input type="text" id="sub-grade" name="sub-grade-1">
              </div>
              <div style="margin-left: 48px;" id="organization"-->
                <label for="sub-grade-2">Organization:</label>
                <input type="text" id="sub-grade" name="sub-grade-2">
              </div>
              <p style="font-weight:bold; font-size: 25px; margin-left: 100px;">Final grade:{{final_grade}}</p>
            </div>

            <div class="horizontal">
              <div id="language">
                <label for="sub-grade-3">Language:</label>
                <input type="text" id="sub-grade" name="sub-grade-3">
              </div>
              <div id="task-achievement">
                <label for="sub-grade-4">Task achievement:</label>
                <input type="text" id="sub-grade" name="sub-grade-4">
              </div>
              <div style="margin-left: 100px;" id="submit-button">
                <input type="submit" value="Submit" id="submit-grade">
              </div>
            </div>
          </form>
        </div>

        <div class="page-item" id="compare-feedback">
          
        </div>

        <div class="page-item" id="compare-grade">
          
        </div>

    </div>

</body>

<script src="{{ url_for('static', filename='js/comparison.js')}}"></script>

<script>
  let clicked = 1
  function spell_check() {
    const text_element = document.getElementById("assignment-text-body")
    let text_element_html = text_element.innerHTML
    const original_text = text_element.innerText
    const text_length = original_text.length
    $.ajax({
            url: location.origin + "/grading-comparison",
            type: 'POST',
            data: JSON.stringify({
                "original_text": original_text
            }),
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                    var misspelled_words = response.misspelled_words; //array
                    var mistakes_count = misspelled_words.length
                    function hightlightSearchResult() {
                        let pattern = '';
                        for (var w in misspelled_words)
                          pattern += misspelled_words[w]+'|';
                        
                        let regex_object = new RegExp(pattern, 'gi');

                        if (mistakes_count > 0){
                          console.log("text_element_html (before replacing with regex)= ", text_element_html)
                          text_element.innerHTML = text_element_html.replace(regex_object, `<span style="color: red;">$&</span>`);
                          console.log("regex_object = ", regex_object)
                          console.log("text_element_html (after replacing with regex)= ", text_element.innerHTML)

                        }else{
                          text_element.innerHTML = text_element_html;
                        }
                    }

                    if (clicked == 1) {
                      hightlightSearchResult()
                      document.getElementById("metrics").innerHTML = 
                                    "<span style='font-weight:bold; font-size: 25px;'>Spelling: </span> "+
                                    (mistakes_count/text_length*100).toFixed(2) + '%.'
                                    +"<br>\
                                    <span style='font-weight:bold; font-size: 25px;'>Grammar:</span><br>\
                                    <span style='font-weight:bold; font-size: 25px;'>Argumentation:</span>"
                      
                      console.log("clicked == 1", text_element.innerHTML)
                                  
                      clicked = 0
                    } else {
                      text_element.innerHTML = '<span style="color: black;" >' + original_text + '</span>'

                      console.log("clicked == 0 : ", text_element.innerHTML)
                      console.log("clicked == 0, innerText: ", text_element.innerText)

                      clicked = 1
                    }
            },
            error: function (response) {
              alert("Error!")
            }
        });
    }
</script>

<script>
  function grammar_check(){}
</script>

<script>
  let arg_clicked = 1;
  function arg_check(){
    const text_element = document.getElementById("assignment-text-body")
    const original_text = text_element.innerText
    console.log(original_text)
    var innerHTMLContent = "";
    $.ajax({
            url: location.origin + "/grading-comparison",
            type: 'POST',
            data: JSON.stringify({
                "original_text": original_text
            }),
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                    var predictions = response.predictions; //array
                    var pred;
                    function hightlightClaimsAndPremises() {
                        for (var i in predictions){
                          pred = predictions[i]
                          if (pred['label'] == "PREMISE") {
                            innerHTMLContent = innerHTMLContent + '<mark style="background-color: orange;">'+pred['sentence']+'</mark>. '
                          } else if (pred['label'] == 'CLAIM') {
                            innerHTMLContent = innerHTMLContent + '<mark style="background-color: yellow;">'+pred['sentence']+'</mark>. '
                          }
                        }
                      text_element.innerHTML = innerHTMLContent;
                    }

                    if (arg_clicked == 1) {
                      hightlightClaimsAndPremises()
                      arg_clicked = 0
                    } else {
                      text_element.innerHTML = original_text;
                      arg_clicked = 1
                    }
            },
            error: function (response) {
              alert("Error!")
            }
        });
  }
</script>

<style>
  .misspell{
    color: red
  }
</style>

</html>